body{
    background-color: white;
    padding: 70px;
}
.navbar{
    background-color: rgb(7,4,62);
}
.navbar-brand{
    color:#d9534f;
}
.nav-link{
    color:#d9534f;
}
#logo{
    font-size: 700;
    font-weight: 700;
    font-family: cursive;
}

h1{
    color: white;
}

h3{
    color: white;
}
form{
    background-color:white;
    margin-left:30%;
    padding: none;
}
#signIn form{
    margin-top: 10%
}

h4{
    font-weight: 20;
}
label{
    display: block;
    margin-bottom: 20px;   
}
button{
    background-color:rgb(88,89,137);
    margin: 20px 40px 30px 90px;
    padding: 10px 10px 10px 10px;
}
#signin-button{
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 20px;
}