body{
    background: rgba(88,89,137, 0.1);
}
.navbar{
    background-color: rgb(7,4,62);
}
.navbar-brand{
    color:#d9534f;
}
.nav-link{
    color:#d9534f;
}
#logo{
    font-size: 700;
    font-weight: 700;
    font-family: cursive;
}
#index-top-freelancers{
    padding-top:70px;
}
.card-body{
    border: 1px solid rgb(7,4,62);
}
.card-footer{
    border: 1px solid rgb(88,89,137);
}